*{
    margin: 0;
    padding: 0;
     box-sizing: border-box;

}
nav{
    display: flex;
    
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
}
.nav-links{
    margin-left: auto;
}
.nav-links ul{
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 13px 20px 10px ;
}
.nav-links ul li:hover{
    /* text-decoration: underline; */
    /* background-color: lightgray;
    border-radius: 5px; */
    transform: scale(1.1);
    transition: transform 0.2s;
}
nav{
    border-bottom:1px solid black;
}
.resume{
    border:none;
    background-color:blue;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
.resume:hover{
    background-color: darkblue;
}
.logo h2{
    margin-left: 20px;
    padding: 13px 0 10px;
}
section{
    display:flex;
}
.imagecontainer{
    width:35%;
}
.info{
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    

}
#name{
    color:blue;
    font-size: 15px;
    padding-top: 10px;

}
.info p{
    width: 72%;

}
#download{
      border:none;
    background-color:blue;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
#projects{
   border:none;
    background-color:blue;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
#download:hover{
    background-color: darkblue;
}
#projects:hover{
    background-color: darkblue;
}
#information{
    /* height: 928px; */
}
#experience{
    display: flex;
    flex-direction: column;

}

.job{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 20px;
    margin-left: 180px;
    width:50%;
}
#heading{
    margin-top: 20px;
    margin-left:150px;
}
.blue{
    color:blue;
}
.contact{
    margin-top: 20px;
    margin-left: 150px;
    margin-right: 400px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: rgb(60, 55, 55);
    color:azure;
    padding: 20px;
    border-radius: 10px;
    align-items: center;

}
.contact button{
    border:none;
    background-color:rgb(92, 92, 255);
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    /* margin-left: 50px;
    margin-right: 50px; */
    width:20%;
    
    cursor: pointer;
}
.contact button:hover{
    background-color: rgb(0, 0, 255);
}
footer{
    display: flex;
    position:sticky;
    bottom: 0;
    width: 100%;
    background-color: rgb(183, 183, 183);
    color:rgb(0, 0, 0);
    padding: 20px;
    margin-top: 10px;
    border-top: 1px solid black;
}
footer ul{
    display: flex;
    gap:30px;
  
}
.footerlinks{
    margin-left: auto;
}
